@font-face {
  font-family: "knight-warrior-font";
  src: url("./assets//VeniteAdoremusStraight-Yzo6v.ttf") format("opentype");
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  font-family: "knight-warrior-font", Arial, sans-serif; 
}


.scores-container h2 {
  font-family: "knight-warrior-font", Arial, sans-serif;
  font-size: 35px;
}

.country{
  color: green;
}


.sort-btn{
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
}