@font-face {
  font-family: "knight-warrior-font";
  src: url("./assets//VeniteAdoremusStraight-Yzo6v.ttf") format("opentype");
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  font-family: "knight-warrior-font", Arial, sans-serif; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.score {
  list-style: none;
  border: solid 2px black;
  align-items: center;
}

.high-score{
  color: red;
  margin-left: 100px;
}

.score-table {
  width: 100%;
  border-collapse: collapse; 
  margin: 25px 0; 
  font-size: 30px; 
  font-family: "knight-warrior-font", Arial, sans-serif; 
  text-align: left; 
}

.score-table th,
.score-table td {
  font-family: "knight-warrior-font", Arial, sans-serif;
}

.score-table tbody td {
  padding: 12px; 
  border: 1px solid #dddddd; 
  text-align: center;
}

.score-table tbody tr:nth-child(even) {
  background-color: #f3f3f3; 
}

.score-table tbody tr:hover {
  background-color: #f1f1f1; 
}

.scores-container h2 {
  font-family: "knight-warrior-font", Arial, sans-serif;
  font-size: 35px;
}

.country{
  color: green;
}


.sort-btn{
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
}